@font-face {
  font-family: "HarmoniaSansProCyr-Black";
  src: url("../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.eot");
  src: url("../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.woff") format("woff"),
  url("../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}


