@font-face {
  font-family: "Bebas-Neue-Regular";
  src: url("../fonts/Bebas-Neue-Regular/BebasNeue-Regular.eot");
  src: url("../fonts/Bebas-Neue-Regular/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Bebas-Neue-Regular/BebasNeue-Regular.woff") format("woff"),
  url("../fonts/Bebas-Neue-Regular/BebasNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium/Inter-Medium.eot");
  src: url("../fonts/Inter-Medium/Inter-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Inter-Medium/Inter-Medium.woff") format("woff"),
  url("../fonts/Inter-Medium/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular/Inter-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Inter-Regular/Inter-Regular.woff") format("woff"),
  url("../fonts/Inter-Regular/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold/Inter-SemiBold.eot");
  src: url("../fonts/Inter-SemiBold/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Inter-SemiBold/Inter-SemiBold.woff") format("woff"),
  url("../fonts/Inter-SemiBold/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Poppinsbold";
  src: url("../fonts/Poppinsbold/Poppinsbold.woff") format("woff"),
  url("../fonts/Poppinsbold/Poppinsbold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Poppinspoppins-semiboldmedium";
  src: url("../fonts/Poppinspoppins-semiboldmedium/Poppinspoppins-semiboldmedium.woff") format("woff"),
  url("../fonts/Poppinspoppins-semiboldmedium/Poppinspoppins-semiboldmedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "Poppinsregular";
  src: url("../fonts/Poppinsregular/Poppinsregular.woff") format("woff"),
  url("../fonts/Poppinsregular/Poppinsregular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

