
/*--- FONTS ---*/

$f-main: "Poppinsregular";
$f-BN-reg: "Bebas-Neue-Regular";
$f-li-reg: "Inter-Regular";
$f-I-med: "Inter-Medium";
$f-I-S-bold: "Inter-SemiBold";
$f-P-bold: "Poppinsbold";
$f-P-S-bold: "Poppinspoppins-semiboldmedium";

/*--- COLORS ---*/

$color-white: #ffffff;
$color-dark: #1E1E1E;
$color-black: #101011;
$color-brown: #5E361C;
$color-soft-brown: #D3AD7F;
$color-crema: #FFF6EB;
$color-gray: #272D37;
$color-soft-gray: #938E8E;