.our-gallery{
  /*background-color: $color-light;*/
  background-color: $color-white;

  .block-name{
    color: $color-dark;

    i{
      color: $color-dark;
    }
  }

  .block-title{
    /*color: $color-dark;*/
    color: $color-black;

  }

  .gallery-item{
    margin-bottom: 30px;

    .inner{
      padding-bottom: 75%;
      position: relative;
      border: 1px solid rgba(0,0,0,0.1);
      box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-white;
        opacity: 0.5;
        z-index: 2;
        transition: all 0.5s;
      }

      img{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        max-width: 200%;
        min-height: 100%;
        max-height: 200%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.5s;
        z-index: 1;
      }
    }

    &:hover{
      .inner{
        &:before{
          opacity: 0;
        }

        img{
          transform: translateX(-50%) translateY(-50%) scale(1.1);
        }
      }
    }
  }

  .button{
    margin-top: 30px;
  }
}