.reviews{
  /*background-color: $color-light;*/
  background-color: $color-white;

  .block-title{
    /*margin-bottom: 60px;*/
    margin-bottom: 35px;

  }

  .rev-slider{

    .slide{
      display: flex;
      align-items: center;
      padding: 15px;

      .image-wrapper{
        width: 100px;
        height: 100px;
        border: 1px solid rgba(0,0,0,0.1);
        position: relative;
        z-index: 2;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);

        img{
          width: 100%;
          height: auto;
        }
      }

      .text-wrapper{
        padding: 30px 30px 30px 65px;
        width: calc(100% - 50px);
        margin-left: -50px;
        position: relative;
        z-index: 1;
        background-color: $color-red;
        color: $color-white;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);

        .text-content{
          margin-bottom: 15px;
          font-size: 14px;
          position: relative;
          padding-left: 20px;
          padding-right: 20px;

          .quotes{
            position: absolute;
            width: 20px;

            svg{
              width: 100%;
              height: auto;

              path{
                fill: $color-white;
              }
            }

            &.quotes-top{
              top: -10px;
              left: -10px;
            }

            &.quotes-bottom{
              bottom: -5px;
              right: -10px;
            }
          }
        }

        .info-text{
          padding-top: 15px;
          border-top: 2px solid #ffffff;

          .name,
          .car-name{
            display: inline-block;
            margin-bottom: 10px;
          }
        }
      }
    }

    /*.slide{
      margin: 0 15px;
      padding: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;

      @media(max-width: 440px){
        margin: 0;
        padding: 30px 15px 15px;
      }

      .background-pic{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        min-height: 100%;
        min-width: 100%;
        max-width: 200%;
        max-height: 200%;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
      }

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: $color-dark;
        opacity: 0.7;
      }

      .client{
        display: inline-flex;
        align-items: center;
        margin: 0 auto 30px;
        position: relative;
        z-index: 3;
      }

      .rev-pic{
        width: 70px;
        height: 70px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        svg{
          width: 100%;
          height: auto;

          path{
            fill: $color-light;
          }
        }

        i{
          font-size: 50px;
          color: $color-light;
        }

        img{
          min-width: 100%;
          max-width: 250%;
          min-height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);

        }
      }

      .info{
        width: calc(100% - 100px);
        position: relative;
        z-index: 3;
      }

      .name{
        margin-bottom: 10px;
        color: $color-light;
      }

      .car-name{
        font-family: $f-light;
        margin-bottom: 0;
        color: $color-light;
      }

      .rev-text{
        padding: 30px;
        background-color: rgba(238, 238, 238, 0.8);
        color: $color-gray;
        position: relative;
        z-index: 2;

        @media(max-width: 767px){
          padding: 15px;
        }

        p{
          margin-bottom: 15px;

          @media(max-width: 440px){
            font-size: 14px;
          }

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }*/

    .slick-dots{
      bottom: -35px;
      width: auto;
      left: 50%;
      transform: translateX(-50%);

      @media(max-width: 767px){
        bottom: -40px;
      }

      li{
        width: 10px;
        height: 10px;
        border-radius: 2px;
        /*border: 2px solid $color-gray;*/
        border: 2px solid $color-black;
        transition: all 0.5s;
        background-color: rgba(0,0,0,0);

        button{
          display: none;
        }

        &.slick-active{
          /*border-color: $color-accent;
          background-color: $color-accent;*/
          border-color: $color-red;
          background-color: $color-red;
        }
      }

    }
  }
}