.reviews{
  background-color: $color-white;

  .block-title{
    margin-bottom: 35px;
  }

  .rev-slider{

    .slide{
      display: flex;
      align-items: center;
      padding: 15px;

      .image-wrapper{
        width: 100px;
        height: 100px;
        border: 1px solid rgba(0,0,0,0.1);
        position: relative;
        z-index: 2;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);

        img{
          width: 100%;
          height: auto;
        }
      }

      .text-wrapper{
        padding: 30px 30px 30px 65px;
        width: calc(100% - 50px);
        margin-left: -50px;
        position: relative;
        z-index: 1;
        background-color: $color-red;
        color: $color-white;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);

        .text-content{
          margin-bottom: 15px;
          font-size: 14px;
          position: relative;
          padding-left: 20px;
          padding-right: 20px;

          .quotes{
            position: absolute;
            width: 20px;

            svg{
              width: 100%;
              height: auto;

              path{
                fill: $color-white;
              }
            }

            &.quotes-top{
              top: -10px;
              left: -10px;
            }

            &.quotes-bottom{
              bottom: -5px;
              right: -10px;
            }
          }
        }

        .info-text{
          padding-top: 15px;
          border-top: 2px solid #ffffff;

          .name,
          .car-name{
            display: inline-block;
            margin-bottom: 10px;
          }
        }
      }
    }

    .slick-dots{
      bottom: -35px;
      width: auto;
      left: 50%;
      transform: translateX(-50%);

      @media(max-width: 767px){
        bottom: -40px;
      }

      li{
        width: 10px;
        height: 10px;
        border-radius: 2px;
        border: 2px solid $color-black;
        transition: all 0.5s;
        background-color: rgba(0,0,0,0);

        button{
          display: none;
        }

        &.slick-active{
          border-color: $color-red;
          background-color: $color-red;
        }
      }

    }
  }
}