.team{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 30px;

  &:before{
    content: '';
    background-color: rgba(255,255,255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

  }

  .container{
    position: relative;
    z-index: 2;
  }

  .block-title{
    color: $color-black;
  }

  .team-men{
    margin-bottom: 30px;

    .inner{
      position: relative;
      height: 100%;
      transition: all 0.5s;
      background-color: $color-white;
      border: 1px solid rgba(0,0,0,0.1);
      box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);

      .team-pic{
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;

        img{
          height: auto;
          width: 100%;
          transition: all 0.5s;
          position: relative;
          z-index: 1;
        }
      }

      .team-men-info{
        transition: all 0.5s;
        text-align: center;
        color: $color-black;
        padding: 0 15px 15px 15px;

        .name{
          margin-bottom: 5px;
        }

        .men-post{
          font-family: $f-light;
          margin-bottom: 0;
        }
      }
    }

    &:hover{
      .inner{
        .team-pic{
          img{
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &.team-compact{
    padding-bottom: 60px;

    .content{
      align-items: center;
    }

    .team-text-wrapper{

      .inner{
        padding: 30px;
        background-color: $color-white;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);
      }
      p{
        margin-bottom: 10px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .team-slider-wrapper{
      .dot-navigation{
        margin: 0 auto;
        bottom: 0 !important;
        display: flex;
        justify-content: center;
        position: relative;

        .swiper-pagination-bullet{
          width: 10px;
          height: 10px;
          border-radius: 2px;
          border: 2px solid $color-black;
          transition: all 0.5s;
          background-color: rgba(0,0,0,0);
          opacity: 1;

          &.swiper-pagination-bullet-active{
            border-color: $color-red;
            background-color: $color-red;
          }
        }
      }
    }
  }
}