
/*--- FONTS ---*/

$f-main: 'RobotoCondensed-Regular';
$f-light: 'RobotoCondensed-Light';
$f-med: "Montserrat-Medium";
$f-bold: 'RobotoCondensed-Bold';



/*--- Colors ---*/

$color-light: #EEEEEE;
$color-gray: #393E46;
$color-dark: #222831;
$color-accent: #00ADB5;

$color-white: #ffffff;
$color-black: #000000;
$color-red: #cc3300;

